@page
@model ProfilePhotoModel
@{
    ViewData["Title"] = "Profil Fotoğrafı";
    ViewData["ActivePage"] = ManageNavPages.ProfilePhoto;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="File" class="form-control" asp-for="Input.ProfileImage"  accept="image/x-png,image/gif,image/jpeg" /><br />
            <button id="change-profilephoto-button" asp-page-handler="ChangeProfilePhoto" class="btn btn-primary submit">Profil Fotoğrafını Değiştir</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

