@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Yetki Reddedildi";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Buraya girmek için yetkin yok.</p>
</header>
